<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

    <main class="container">
      
      <h1 class="white-text">Edit <%= trailName %></h1>

        <div class="row">
            <form action="/trails/<%= trailId %>?_method=PUT" class="col s12" method="POST">
                <div class="row">

                    <div class="input-field col s12">
                      <textarea id="trailName" class="materialize-textarea white-text" name="trailName"></textarea>
                      <label for="trailname"><%= trailName %></label>
                    </div>

                    <div class="input-field col s12">
                      <textarea id="location" class="materialize-textarea white-text" name="location"></textarea>
                      <label for="location"><%= location %></label>
                    </div>
                    
                    <div class="input-field col s12">
                        <select name="difficulty" class="white-text">
                          <option value="" disabled selected><%= difficulty %></option>
                          <option value="Blue">Blue</option>
                          <option value="BlueBlack">BlueBlack</option>
                          <option value="Black">Black</option>
                        </select>
                        <label>Difficulty</label>
                      </div>

                      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button><br><br>
                      <a href="/trails/<%= trailId %>">Cancel</a>
                  </div>
                </form>
              </div>

    </main>

    <%- include('../partials/footer') %>
</body>

</html>