<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

    <main class="container flex-ctr">
        <% trails.forEach(function(trail) { %>
        <section id="cards" class="flex-ctr">
            <article class="card flex-ctr outline">
                <h4><a href="/trails/<%= trail._id %>"><%= trail.trailName%></a></h4>
                <br><br>
                <p><%= trail.difficulty %></p>
                <br><br>
                <p><%= trail.location %></p>
            </article>
            <% }) %>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>